<header class='event-background' style='background: url({{event.backgroundPicture}}) no-repeat top center'></header>
<section id='event-info'>
  <div class='col-md-8'>
    <div class='page-header' style='margin-top: 20px;'>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" data-src="{{event.picture}}" alt="64x64" src="{{event.picture}}" data-holder-rendered="true" style="width: 100px; height: 100px;">
          </a>
        </div>
        <div class="media-body" style='padding-left: 20px;'>
          <h3 class="media-heading">{{event.name}}</h3>
          <h5><i class='fa fa-map-marker'></i> &nbsp; {{event.location}}</h5>
          <h5><i class='fa fa-calendar-o'></i> &nbsp; {{event.startDate}}</h5>
          <button type='button' class='btn btn-default' ng-click='attend()'>Attend Event</button>
        </div>
      </div>
    </div>
    <div>
      <p class='text-justify'>
        {{event.description}}
      </p>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='page-header'>
      <h3>Attendees</h3>
    </div>
    <div class='col-md-12' ng-repeat='user in event.attendees' style='margin-bottom: 15px;'>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" data-src="{{user.picture}}" alt="64x64" src="" data-holder-rendered="true" style="width: 64px; height: 64px;">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{user.name}}</h4>
          <h5>{{user.jobTitle}}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section id='event-twitter'>
  <div class='col-md-6' style='margin-top: 25px;'>
    blah
  </div>
</section>
