<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ecco. Connecting before meeting.</title>
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/lumen/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel='stylesheet' href="css/login.css">
  <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class='col-md-3'></div>
      <div class='col-md-6 jumbotron text-center'>
        <img src='img/ECCOlogofinal.svg' alt='Ecco. Connecting before meeting.' width='200' height='200'></br>
        <h3 class='text-center login-header'>Connect with people before you meet.</h3>
        <!-- <fb:login-button data-size='large' scope="public_profile,email,user_friends" onlogin="checkLoginState();">Login with Facebook
        </fb:login-button> -->
        <form method='post' action='/user/authenticate' class='text-left'>
          <div class='form-group'>
            <label>Email</label>
            <input class='form-control' type="email" name='email' placeholder="Email" required>
          </div>
          <div class='form-group'>
            <label>Password</label>
            <input class='form-control' type="password" name='password' placeholder="Password" required><br>
          </div>
          <div class='form-inline'>
            <div class='form-group' style='width: 40%'>
              <button class='btn btn-default' type="submit">Login</button>
            </div>
            <div class='form-group text-right' style='font-size: 1.2em;'>
              Dont have an account? <a href="/user/new" style='color: #444; font-weight: 600;'>Create one!</a>
            </div>
          </div>

        </form>
      </div>
      <div class='col-md-3'></div>
    </div>
  </div>
  <!-- // <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script> -->
  <!-- // <script src="js/facebook/login.js"></script> -->
</body>
</html>
