body {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.login-button {
  margin-top: 5%;
  background: #3b5998;
  color: #ffffff;
  border-color: #2a436d;
}

.login-button:hover {
  margin-top: 5%;
  color: #fff;
  background-color: #36568e;
  border-color: #2a436d;
}

.login-button:focus {
  margin-top: 5%;
  background: #3b5998;
  color: #ffffff;
  border-color: #2a436d;
}

.login-button {
  background: #3b5998;
  color: #ffffff;
  border-color: #2a436d;
}

.jumbotron {
  margin-top: 4%;
  background: rgba(240, 240, 240, 0.9);
}

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #aaa;
}
