body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5%;
}

.nav-collapse{
  margin-right: 50%;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-width: 50px;
  height: auto;
}
