body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5%;
}

.nav-collapse{
  margin-right: 50%;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-width: 50px;
  height: auto;
}

.event-outer {
  padding: 10px;
}

.event-inner {
  padding: 0;
  border: 1px solid #d7d7d7;
  box-shadow: 0 4px 0 #e7e7e7;
  border-radius: 5px;
}

.event-backgroundPicture {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 75px;
  background-size: cover;
}

.event-picture img {
  border: 2px solid #fff;
  background: #fff;
  margin-top: -50px;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0,0,0,.1);
}

.event-name, .event-description {
  padding: 15px;
}

.event-name h4 {
  font-weight: 700;
}

.event-description {
  padding-top: 0;
  min-height: 120px;
  max-height: 120px;
}

.event-description p {
  text-align: justify;
  color: #000;
}

.event-attend {
  background: #00B760;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}

.event-attend:hover {
  background: #00a84e;
  color: #fff;
  text-decoration: none;
}
